<ion-header>
  <ion-toolbar>
    <ion-title>
      Meteo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="prevision != null">
    <ion-card-header>{{prevision.dt_txt}}</ion-card-header>
    <ion-card-content>
      <ion-label>{{prevision.main.temp_min}}°K</ion-label>
      <ion-label>{{prevision.main.temp_max}}°K</ion-label>
      <ion-label>{{prevision.main.pressure}}hPa</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
