<ion-header>
  <ion-toolbar>
    <ion-title>
      Panier
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
          <ion-item>
              <ion-label position="floating">article</ion-label>
              <ion-input [(ngModel)]="article"
                         (keyup.enter)="ajouterArticle()"></ion-input>
            </ion-item>
      </ion-col>
      <ion-col size="3" align-self-end>
        <ion-button color="secondary"
                    fill="outline"
                    (click)="ajouterArticle()"
                    expand="block"
                    [disabled]="article == null || article == ''">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item [ngClass]="{rouge: item.coche}"
              *ngFor="let item of articles" (click)="afficherActions(item)">
      {{item.nom}}
      <ion-icon name="checkmark-circle" 
                color="success"
                *ngIf="item.coche"
                slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
